
{% extends 'basetemplate.html' %}   
{% load static %}
{% block stylesheets %}
<style>
@media only screen and (max-width: 450px){
.hdng{
font-size:21px;
}
}
</style>
{% endblock stylesheets %}


{% block head %}
<link rel="icon" href="/static/img/logo.jpeg" type="image/gif" sizes="20x20">
{% endblock head %}
{% block body %}
        <!--Main body-->
        {% if messages %}
                    {% for message in messages %}
                    <div class="col-md-12">
                        <div class="alert alert-{{message.tags}}" role="alert">
                            {{message}}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
        <div class="container mt-5">
            <div class="row flex-lg-nowrap">
                <div class="col">
                    <div class="row">
                        <div class="col mb-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="e-profile">
                                        <div class="col-12 col-sm-12 mb-3">
                                            <div id="editAgent" style="display:contents;">
                                                <div class="row">
                                                    <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                                                        <div class="text-center text-sm-left mb-2 mb-sm-0">
                                                            <h4 class="hdng pt-sm-2 pb-1 mb-0 text-nowrap">YOUR AGENT ID :
                                                                {{request.user.userAccess.agentId}} </h4>
                                                            <p class="mb-0">{{request.user.email}}</p>
                                                            <div class="text-muted"><small>Last Login :
                                                                    {{request.user.last_login}}</small></div>
                                                        </div>

                                                        <form>
                                                            <div class="row">
                                                                <div class="col d-flex justify-content-end">
                                                                    <input class="btn btn-primary" type='button'
                                                                        name="edit" value='Edit'>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                                <ul class="nav nav-tabs">
                                                    <li class="nav-item"><a href="" class="active nav-link">Settings</a>
                                                    </li>
                                                </ul>
                                                <div class="tab-content pt-3">

                                                    <div class="tab-pane active">

                                                        <!--
                                                        <form class="form" onvalidate="" method="POST"
                                                            action="{{request.path}}" enctype="multipart/form-data"
                                                            id="sellerform" onsubmit="return validSeller()"> -->
                                                            {% csrf_token %}
                                                            <input type="text" class="form-control"
                                                                                    value="agent"
                                                                                    name="typo" hidden/>
                                                            <div class="row">
                                                                <div class="col">
                                                                    <div class="row">
                                                                        <div class="col">
                                                                            <div class="form-group">
                                                                                <label>Full Name</label>
                                                                                <input type="text" class="form-control"
                                                                                    value="{{request.user.name}}"
                                                                                    name="name" id="fullname" required
                                                                                    disabled />
                                                                            </div>
                                                                        </div>
                                                                        <div class="col">
                                                                            <div class="form-group">
                                                                                <label>Gender</label>
                                                                                <div class="maxl">
                                                                                    <label class="radio inline">
                                                                                        &nbsp;
                                                                                        <input type="radio"
                                                                                            name="gender" value="Male"
                                                                                            checked disabled>
                                                                                        <span> Male </span>
                                                                                    </label>
                                                                                    <label class="radio inline">
                                                                                        <input type="radio"
                                                                                            name="gender" value="Female"
                                                                                            disabled>
                                                                                        <span>Female </span>
                                                                                    </label>
                                                                                    <label class="radio inline">
                                                                                        <input type="radio"
                                                                                            name="gender" value="Other"
                                                                                            disabled>
                                                                                        <span>Others</span>
                                                                                    </label>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col">
                                                                            <div class="form-group">
                                                                                <label>Address</label>
                                                                                <input type="text" class="form-control"
                                                                                    placeholder="Enter Full Address *"
                                                                                    name='address' id="address"
                                                                                    value="{{request.user.address}}"
                                                                                    required disabled />
                                                                            </div>
                                                                        </div>
                                                                        <div class="col">
                                                                            <div class="form-group">
                                                                                <label>Phone</label>
                                                                                <input type="text" minlength="10"
                                                                                    maxlength="10" name="phone"
                                                                                    class="form-control"
                                                                                    placeholder="Your Phone *"
                                                                                    id="phone"
                                                                                    value="{{request.user.phNo}}"
                                                                                    required disabled />
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="row">
                                                                        <div class="col">
                                                                            <div class="form-group">
                                                                                <label>Birthdate</label>
                                                                                <input type="date"
                                                                                    value="{{request.user.DOB|date:'c'}}"
                                                                                    class="form-control" name="bdate"
                                                                                    id="bdate" required disabled />
                                                                            </div>
                                                                        </div>
                                                                        <div class="col">
                                                                            <div class="form-group">
                                                                                <label>Zip</label>
                                                                                <input type="number"
                                                                                    class="form-control"
                                                                                    placeholder="Enter ZIP Code *"
                                                                                    name="zip" id="zip"
                                                                                    value="{{request.user.zipCode}}"
                                                                                    required disabled />
                                                                            </div>
                                                                        </div>
                                                                    </div>


                                                                    <div class="row">
                                                                        <div class="col">
                                                                            <div class="form-group">
                                                                                <label>Select ID Proof type</label>
                                                                                <select name="govIdName" id='proofType'
                                                                                    type='checkbox' class="form-control"
                                                                                    required disabled>
                                                                                    <option class="hidden"
                                                                                        id='proofType'
                                                                                          selected='' disabled="" value="">
                                                                                        Select ID Proof type
                                                                                    </option>
                                                                                    <option value="ADHAR">Adhar
                                                                                    </option>
                                                                                    <option value="PAN">PAN</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col">
                                                                            <div class="form-group">
                                                                                <label>Enter Your Proof ID</label>
                                                                                <input type="text" class="form-control"
                                                                                    value="{{request.user.userGov.govIdNo}}"
                                                                                    name="govIdNo" id="govIdNo" required
                                                                                    disabled />
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="row">
                                                                        <div class="col">
                                                                            <div class="form-group">
                                                                                <label>Upload
                                                                                    ID Proof</label>
                                                                                <input type="file" name="govIdImage"
                                                                                    id="img" class="form-control"
                                                                                     disabled />
                                                                                <a for="img"></a><a
                                                                                    href='{{request.user.userGov.govIdImage.url}}'>Current
                                                                                    ID Proof</a>

                                                                            </div>
                                                                        </div>

                                                                    </div>


                                                                    <div class="row">
                                                                        <div class="col-12">
                                                                            <div class="form-group">
                                                                                <!--
                                                                                <button type="submit" name="submit" id="saveSeller"
                                                                                    class="form-control btn-primary btn-sm mt-2" disabled>
                                                                                    SAVE CHANGES
                                                                                </button>
                                                                            -->
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="row">
                                                                        <div class="col-12 errormsgbg">
                                                                            <div id="errormsg"
                                                                                onclick="getElementById('errormsg').innerHTML = null">
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        <!--</form>-->
                                                        <hr>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="e-profile">
                                        <div class="col-12 col-sm-12 mb-3">
                                            <div class="col d-flex justify-content-end">
                                                <div class="row">
                                                    <div class="col" id="AgentChange" style="display: none;">
                                                        <input class="btn btn-primary" type='button' name="Agent"
                                                            value='Change Agent Details' onclick="showAgentChange();">
                                                    </div>
                                                    <div class="col">
                                                        <input class="btn btn-primary" type='button' name="AgencyEdit"
                                                            value='View Agency Details'
                                                            onclick="hideAgent(),showChangeAgency();"></div>
                                                    <div class="col">
                                                        <input class="btn btn-primary" type='button'
                                                            value='Change Password' onclick="showChangePassword();">
                                                    </div>
                                                </div>
                                                <script type="text/javascript">
                                                    function showChangeAgency() {
                                                        document.getElementById('editAgency').style.display = 'block';
                                                    }
                                                    function hideAgent() {
                                                        document.getElementById('editAgent').style.display = 'none';
                                                        document.getElementById('AgentChange').style.display = 'block';
                                                    }
                                                    function showAgentChange() {
                                                        document.getElementById('editAgent').style.display = 'contents';
                                                        document.getElementById('editAgency').style.display = 'none';
                                                        document.getElementById('AgentChange').style.display = 'none';
                                                    }
                                                </script>
                                            </div>
                                            <div id='editAgency' style="display: none;">
                                                <div class="row">
                                                    <div
                                                        class="col d-flex flex-column flex-sm-row justify-content-between mb-3">

                                                        <div class="text-center text-sm-left mb-2 mb-sm-0">
                                                            <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">YOUR AGENCY ID :
                                                                {{request.user.userAgency.agency_Id}} </h4>
                                                            <p class="mb-0">{{request.user.email}}</p>
                                                            <div class="text-muted"><small>Last Login :
                                                                    {{request.user.last_login}}</small></div>
                                                        </div>
                                                        <div class="text-center text-sm-right">
                                                        </div>

                                                    </div>
                                                </div>
                                                <ul class="nav nav-tabs">
                                                    <li class="nav-item"><a href="" class="active nav-link">Settings</a>
                                                    </li>
                                                </ul>
                                                <div class="tab-content pt-3">
                                                    <div class="tab-pane active">
                                                            <div class="row">
                                                                <div class="col">
                                                                    <div class="row">
                                                                        <div class="col">
                                                                            <div class="form-group">
                                                                                <label>Agency Name</label>
                                                                                <input type="text" class="form-control"
                                                                                    value="{{request.user.userAgency.agencyName}}"
                                                                                    name="name" id="Agency" required
                                                                                    disabled />
                                                                            </div>
                                                                        </div>
                                                                        <div class="col">
                                                                            <div class="form-group">
                                                                                <label>Phone</label>
                                                                                <input type="text" minlength="10"
                                                                                    maxlength="10" name="phone"
                                                                                    class="form-control"
                                                                                    placeholder="Your Phone *"
                                                                                    id="phoneA"
                                                                                    value="{{request.user.userAgency.agencyPhNo}}"
                                                                                    required disabled />
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="row">
                                                                        <div class="col">
                                                                            <div class="form-group">
                                                                                <label>Address</label>
                                                                                <input type="text" class="form-control"
                                                                                    placeholder="Agency Address *"
                                                                                    name='address' id="address"
                                                                                    value="{{request.user.userAgency.agencyAddress}}"
                                                                                    required disabled />
                                                                            </div>
                                                                        </div>
                                                                        <div class="col">
                                                                            <div class="form-group">
                                                                                <label>Zip</label>
                                                                                <input type="number"
                                                                                    class="form-control"
                                                                                    placeholder="Enter ZIP Code *"
                                                                                    name="zip" id="zipA"
                                                                                    value="{{user.zipCode}}" required
                                                                                    disabled />
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="row">
                                                                        <div class="col">
                                                                            <div class="form-group">
                                                                                <label>Government
                                                                                    Approved or Not</label>
                                                                                <select class="form-control"
                                                                                    id='govProof' name="govApproved"
                                                                                    onchange='takeProof()' required>
                                                                                    <option selected='' disabled=''
                                                                                        value="Government Approved or Not">
                                                                                        Government
                                                                                        Approved or Not:</option>
                                                                                    <option value=1>Yes</option>
                                                                                    <option value=0>No</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col">
                                                                            <div class="form-group" id='takeValue'>
                                                                                <label>Government
                                                                                    Approved ID number</label>
                                                                                <input type="number"
                                                                                    class="form-control"
                                                                                    value="{{request.user.userAgency.govApprovedId}}"
                                                                                    id="takeValued"
                                                                                    name="govApprovedId" required/>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="row">
                                                                        <div class="col-12">
                                                                            <div class="form-group">
                                                                                <input type="text" class="form-control"
                                                                                    value="agency"
                                                                                    name="typo" hidden/>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-12 errormsgbgA">
                                                                            <div id="errormsgA"
                                                                                onclick="getElementById('errormsgA').innerHTML = null">
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="tab-pane active">
                                            <div class="row">
                                                <div class="col-12 col-sm-12 mb-3">
                                                    <div class="col d-flex justify-content-end">

                                                        <script type="text/javascript">
                                                            function showChangePassword() {
                                                                document.getElementById('changePassword').style.display = 'block';
                                                            }
                                                        </script>
                                                    </div>
                                                    <form method="post" id='changePassword' style="display: none;"
                                                        action="/accounts/change-password" enctype="multipart/form-data"
                                                        onsubmit="return validPassword()">
                                                        {% csrf_token %}
                                                        <div class="mb-2"><b>Change Password</b></div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label>Current Password</label>
                                                                    <input class="form-control" type="password"
                                                                        placeholder="********" name="oldpassword"
                                                                        id="oldpassword" required="required">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label>New Password</label>
                                                                    <input class="form-control" type="password"
                                                                        placeholder="********" name="password1"
                                                                        id="password1" required="required">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label>Confirm <span
                                                                            class="d-none d-xl-inline">Password</span></label>
                                                                    <input class="form-control" type="password"
                                                                        placeholder="*******" name="password2"
                                                                        id="password2" required="required">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col col-sm-12 mb-3">
                                                                <div class="form-group">
                                                                    <center>
                                                                        <button type="submit" name="submit"
                                                                            class="btn-primary btn-sm">Change
                                                                            Password</button>
                                                                    </center>
                                                                </div>
                                                                <hr>
                                                                <div class="row">
                                                                    <div class="col-12 errormsgbgP">
                                                                        <div id="errormsgP"
                                                                            onclick="getElementById('errormsgP').innerHTML = null">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-12 mb-3">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="custom-controls-stacked px-2">
                                                        <div class="card-body">
                                                            <h6 class="card-title font-weight-bold">
                                                                Support</h6>
                                                            <p class="card-text">Get fast,
                                                                free help from our friendly
                                                                assistants.
                                                            </p>
                                                            <button type="button" class="btn btn-primary">Contact
                                                                Us</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
    </div>
    </div>

    <script>

        function validSeller() {
            var phone = document.getElementById('phone').value;
            var zip = document.getElementById('zip').value;
            var bdate = document.getElementById('bdate').value;
            var proofType = document.getElementById('proofType').value;
            const errormsgbg = document.querySelector('.errormsgbg');
            const errormsg = document.getElementById('errormsg');
            dy = parseInt(bdate);
            cd = new Date();
            cy = cd.getFullYear();
            var hello2 = new Array();
            if (phone != Number(phone)) {
                hello2.push('Your phone must be number');
            }
            if (phone.length != 10) {
                hello2.push('Please Enter a valid Phone number');
            }
            if (zip.length != 6) {
                hello2.push('Please Enter a valid Zip Code');
            }
            if ((cy - dy) < 14) {
                hello2.push("You must be 14 years old");
            }
            if (proofType !== 'ADHAR' && proofType !== 'PAN') {
                hello2.push('please select a proofType');
            }
            if (hello2.length > 0) {
                errormsg.innerHTML = hello2.join(',\n');
                errormsgbg.style.backgroundColor = 'red';
                errormsg.style.color = '#fff';
                return false;

            }
            return true;
        }


        function validAgency() {

            var Agency = document.getElementById('Agency').value;
            var zipA = document.getElementById('zipA').value;
            var phoneA = document.getElementById('phoneA').value;
            var govProof = document.getElementById('govProof').value;
            const errormsgbgA = document.querySelector('.errormsgbgA');
            const errormsgA = document.getElementById('errormsgA');
            var hello3 = new Array();
            if (phoneA != Number(phoneA)) {
                hello3.push('Your phone must be number');
            }
            if (phoneA.length != 10) {
                hello3.push('Please Enter a valid Phone number');
            }
            if (zipA.length != 6) {
                hello3.push('Please Enter a valid Zip Code');
            }
            if (govProof == "Government Approved or Not") {
                hello3.push('please select Government Approved or not');
            }

            if (hello3.length > 0) {
                errormsgA.innerHTML = hello3.join(', \n');
                errormsgbgA.style.backgroundColor = 'red';
                errormsgA.style.color = '#fff';
                return false;

            }
            return true;
        }

        function validPassword() {
            var password2 = document.getElementById('password2').value;
            var password1 = document.getElementById('password1').value;
            var oldpassword = document.getElementById('oldpassword').value;
            var errormsgP = document.getElementById('errormsgP');
            var errormsgbgP = document.querySelector('.errormsgbgP');
            var hello4 = new Array();
            if (password1.length < 8) {
                // console.log('3rd');
                // alert('hi');
                hello4.push('Password Length must be atleast 8 charecters');
                // console.log(hello[0]);
            }
            else {
                if (password1 != password2) {
                    // console.log('2nd');
                    // hello.push('not same');
                    // alert('not same');
                    hello4.push('Password did not match');
                }
                // hello.push('Password must be with in 8 to 20 charecter');
            }
            for (let i = 0; i < password1.length; i++) {
                if (password1[i] === '<' || password1[i] === '>') {
                    hello4.push('< / > not allowed');
                }
            }
            if (hello4.length > 0) {
                errormsgP.innerHTML = hello4.join(',\n');
                errormsgbgP.style.backgroundColor = 'red';
                errormsgP.style.color = '#fff';
                return false;
            }
            // console.log(password1,password2,oldpassword);
            return true;
        }

        $(document).ready(function () {

            $("form input[type=text],form input[type=file],form input[type=radio],form input[type=date],form select[type=checkbox],form input[type=email],form input[type=number]").prop("disabled", true);

            $("input[name=edit]").on("click", function () {

                $("input[type=text],form input[type=file],input[type=radio],select[type=checkbox],form input[type=date],input[type=email],input[type=number],input[type=password],select").removeAttr("disabled");
                document.getElementById("saveSeller").disabled=false;
            })
            $("input[name=Agent]").on("click", function () {

                $("input[type=text],form input[type=file],input[type=radio],select[type=checkbox],form input[type=date],input[type=email],input[type=number],input[type=password],select").removeAttr("disabled");
            })
            $("input[name=AgencyEdit]").on("click", function () {

                $("input[type=text],select[type=checkbox],input[type=number],select").removeAttr("disabled");
            })

            $("input[name=Savechanges]").on("click", function () {

                $("input[type=text],form input[type=file],input[type=radio],select[type=checkbox],input[type=email],input[type=number],input[type=password],select").prop("disabled", true);
            })


        })

        window.onbeforeunload = function (e) {
        e = e || window.event;
        if (e) {
            e.returnValue = '';
        }
        return '';
    };
    </script>
{% endblock body%}