{% extends 'basetemplate.html' %}
{% load static %}
<!-- CSS Starts here -->
{% block stylesheets %}
<style>
body{
background: linear-gradient(to right, #076585, #9796f0);
/*background-image:url("{% static 'img/land1.jpg' %}");*/
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}
span{
color:#fff;
}
.bg-warning{
background: linear-gradient(rgb(123, 67, 151), rgb(220, 36, 48));
}
.movement{
		-webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

.btnRegister {
	
        background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);
        background: linear-gradient(to right, #f7b733, #fc4a1a);
        color: #fff;
		padding:15px;
		font-size:20px;
        border-radius: 20px;
	   margin-bottom: 10px;
	   
}
.btnRegister:hover{
	color:#000000;
	}
#slideshow img {
width:100%; 
height:100%;
}
#slideshow {
  width: 340px;
  height: 340px;
  
}
#slideshow > div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}
@media only screen and (min-width: 768px) {
  
}
</style>
{% endblock stylesheets %}
<!-- CSS Ends here -->

{% block body %}
<!-- HTML Starts here -->
<section class="testimonial py-5">
    <div class="container">
        <div class="row ">
   <div class="col-xl-4 text-white text-center" style="background: linear-gradient(to right, #0f0c29, #302b63, #24243e);border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;">
                <div class=" ">
                    <div class="card-body ">
                        <!--<img class="movement" src="{% static 'img/s3.jpg' %}" style="width:100%; height:auto;">-->
                        <div id="slideshow" class=" mx-auto movement">
	<div>
     <img src="{% static 'img/s1.jpg' %}">
   </div>
   <div>
     <img src="{% static 'img/s2.jpg' %}">
   </div>
   <div>
     <img src="{% static 'img/s3.jpg' %}">
   </div>
   </div>
                        <h2 class="py-3 text-white">WELCOME TO TRAVWEB</h2>
                        <p class="text-white">You need not even listen, just wait…the world will offer itself freely to you, unmasking itself. – Franz Kafka</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 py-5 border" style="background-color: rgb(0 0 0 / 53%) !important; border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;">
                <h4 class="pb-4 text-center text-white">Please fill with your details</h4>
                
                                    <form class="row register-form" method="POST" action='/accounts/traveller/account/signup' enctype="multipart/form-data" onsubmit="return registrationValidator()">
                                    {% csrf_token %}
                                    {% if messages %}
                                    {% for message in messages %}
                                    <div class="col-md-12">
                                    <div class="alert alert-{{message.tags}}" role="alert">
                                    {{message}}  
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    </div>
                                    {% endfor %}
                                    {% endif %}
                                    <div class="col-md-12">
                                        <div id="errormsgbg">
                                            <div id="errormsg" 
                                                onclick="getElementById('errormsg').innerHTML = null;
                                                getElementById('errormsg').style.padding='0px'">
                                            </div>
                                        </div> 
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Full Name *" name="name" id="fullname" required />
                                        </div>
                                        <div class="form-group">  
                                            <div class="maxl">
                                                <label class="radio inline"> 
                                                    <span style="display:inline-block">Gender</span> &nbsp;
                                                    <input type="radio" name="gender" value="Male" checked>
                                                    <span> Male </span> 
                                                </label>
                                                <label class="radio inline"> 
                                                    <input type="radio" name="gender" value="Female">
                                                    <span>Female </span> 
                                                </label>
												<label class="radio inline"> 
                                                    <input type="radio" name="gender" value="Other">
                                                    <span>Others</span> 
                                                </label>
                                            </div>
                                        </div>
                                        <!-- External JS taking the Country , State, City-->
                                        <div class="form-group">
                                            <select class="form-control countries" name="country" id="countryId" required>
                                                <option value="">Select Country</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <select class="form-control states" name="state" id="stateId" required>
                                                <option value="">Select State</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <select class="form-control cities" name="city" id="cityId" required>
                                                <option value="">Select City</option>
                                            </select>
                                        </div>
                                        <!-- External JS portion ends here-->
                                        
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Enter Full Address *" name='address' id="address" maxlength="100" minlength="10" required/>
                                        </div>
                                
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" placeholder="Birthdate" class="form-control" onfocus="(this.type='date')" name="bdate" id="bdate" required/>
                                        </div>
                                        <div class="form-group">
                                            <input type="email" class="form-control" placeholder="Your Email *" name="email" id="mail" required/>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" pattern="\d*" minlength="10" maxlength="10" name="phone" class="form-control" placeholder="Your Phone *" id="phone" value="" required/>
											<span id="mobileno" class="text-danger font-weight-bold"></span>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" pattern="\d*" minlength="6" maxlength="6" class="form-control" placeholder="Enter ZIP Code *" name="zip" id="zip" required/>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" placeholder="Password *" name="password1" id="password1" minlength="8" maxlength="30" required />
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control"  placeholder="Confirm Password *" name='password2' id="password2" minlength="8" maxlength="30" required />
                                        </div>
                                             
                                        <input type="submit" class="btnRegister"  value="Register"/>
                                    </form>
									<script>
                function registrationValidator()
                {
                    var name = document.getElementById('fullname').value;
                    var bdate = document.getElementById('bdate').value;
                    var country = document.getElementById('countryId').value;
                    var state = document.getElementById('stateId').value;
                    var district = document.getElementById('cityId').value;
                    var zip = document.getElementById('zip').value;
                    var address = document.getElementById('address').value;
                    var mail = document.getElementById('mail').value;
                    var password1 = document.getElementById('password1').value;
                    var password2 = document.getElementById('password2').value;
                    var gender = document.getElementsByName('gender');
                    var phone=document.getElementById('phone').value;
                    var msg=new Array();
                    dy=parseInt(bdate);
                    cd=new Date();
                    cy=cd.getFullYear();
                    var reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
                                    res = reg.test(mail);

                    if((cy-dy)<14){
                        msg.push("You must be 14 years old to Register.");
                    }
					if(fullname == "" ){
                        msg.push("Enter your Name.");
                    }
                    if(res==false)
                    {
                        msg.push("Enter Proper Email.");
                    }
                    if(phone!=Number(phone)){
                        msg.push("Your phone must be number.");
                    }
                    if(phone.length!=10){
                        msg.push("Please Enter a valid Phone number.");
                    }
                    if(zip.length!=6){
                        msg.push("Please Enter a valid Zip Code.");  
                    }
                    if(password1.length<8)
                    {
                        msg.push("Your Password must contain atleast 8 characters.");
                    }
                    else{
                        for(let i=0;i<password1.length;i++){
                            if(password1[i]==='<'||password1[i]==='>'){
                                msg.push("< / > not allowed.");
                            }
                        }
                        if(password1!==password2){
                            msg.push("Password didn't match.");
                        }
                    }
                    if(msg.length>0){
                        errormsg.innerHTML=msg.join("\n");
                        errormsgbg.style.width="500px";
                        errormsg.style.padding="8px";
                        errormsgbg.style.borderRadius="5px";
                        errormsgbg.style.backgroundColor='#FBD0F5';
                        errormsg.style.color='red';
                        errormsgbg.style.marginBottom='10px';
                        // errormsg.style.fontWeight="bold";
                        return false;
                    }
                    return true;

                }
                function removeValidator(){
                    var errormsg=document.getElementById('errormsg');
                    
                    var errormsgbg=document.getElementById('errormsgbg');
                    errormsg.innerHTML = null;
                    errormsg.style.padding='0px';
                    errormsgbg.style.marginBottom='0px';
                }
            </script>
            </div>
        
    </div>
    </div>
</section>
<!-- JS Starts here -->

<!-- Geo data Solutions API-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
    <script src="//geodata.solutions/includes/countrystatecity.js"></script>
	
    <!--Geo data solutions API ends here-->
	<script type="text/javascript">
	$("#slideshow > div:gt(0)").hide();

setInterval(function() {
  $('#slideshow > div:first')
    .fadeOut(1000)
    .next()
    .fadeIn(1000)
    .end()
    .appendTo('#slideshow');
}, 3000);
	</script>
<!-- JS Ends here -->
{% endblock body %}