{% extends 'basetemplate.html' %}
{% load static %}

<!-- Stylesheets starts-->
{% block stylesheets %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

    body {
        background: #fff;
        padding-top: 30px;
    }

    .fa-plane {
        color: #4B79A1;
    }
</style>
{% endblock %}
<!--Stylesheets Ends -->
<!-- Main content starts -->
{% block body %}
<!-- loader -->
<div id="preload">
    <img id="loading-image" src="{% static 'img/loader1.gif' %}" alt="loader" />
</div>

<script type="text/javascript">
    var loader = document.getElementById('preload');
    function removeLoader() {
      setTimeout(function () {
        loader.style.display = 'none';
      }, 3000);
    }
</script>
<div class="container bcontent">
    <h2 style="font-family:'Ubuntu', sans-serif;"><i class="fa fa-plane"></i>&nbsp; Ongoing Tour</h2>
    <hr />
    {% if len == 0 %}
    <h3 class="mt-3">No Ongoing Tour Aveilable</h3>
    {% endif %}
    {% for tour in Tours %}
    <div class="card">
        <div class="card-header">
            <div class="col-md-12">
                <div class="row">

                    <div class="col-md-4">
                        <h3>TRAVMAKS CO.</h3>
                    </div>

                    <div class="col-md-4">
                        <h6>Booked by:</h6>
                        <a id="popoverData{{tour.id}}" href="#"
                            data-content="<b>Billing Details</b>
                            <br>{{tour.customer_name}} 
                            <br>{{tour.customer_email}}
                            <br>{{tour.customer_phone}}
                            <br>{{tour.customer_address}}"
                            rel="popover" data-html="true" data-placement="bottom" data-trigger="hover"
                            style="transform: translate(-15px,0px); font-weight:bold;">
                            {{tour.customer_name}}</a>

                        <script>
                            $('#popoverData{{tour.id}}').popover();
                            $('#popoverOption').popover({ trigger: "hover" });
                        </script>


                    </div>
                    <div class="col-md-2">
                        <h5>User Id:</h5>
                        <p>{{uid}}</p>
                    </div>

                    <div class="col-md-2">
                        <h6>Booking Placed On:</h6>
                        <p class="text-muted"><i class="fa fa-calendar-o"></i>&nbsp;{{tour.creation_date}}</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="col-md-12">
                <div class="row">

                    <div class="col-md-4">
                        <h5>{{tour.tour.tourHeading}}</h5>
                        <img src="{{tour.tour.thumbnail.url}}" alt="" style="height:200px; width:auto;">
                    </div>

                    <div class="col-md-5">
                        <ul style="list-style-type:none; margin-top:30px;">
                            <li><small><b>Agency Id</b>&nbsp;:{{tour.agency.agency_Id}}&nbsp;</small></li>
                            <li><small><b>Agent Id</b>&nbsp;:{{tour.agent.userAccess.agentId}}&nbsp;</small></li>
                            <li><small><b>Tour Id</b> &nbsp;:{{tour.tour.tourId}}&nbsp;</small></li>
                            <li><small><b>Total People</b>&nbsp;:{{tour.total_people}}&nbsp;</small></li>
                            <li><small><b>Amount</b>&nbsp;:{{tour.paid_by_user}}&nbsp;</small></li>
                        </ul>
                    </div>

                    <div class="col-md-3 mt-4">
                        <button type="button" class="btn btn-block btn-dark">Ticket </button><br>
                        <a href="/traveller/generate-invoice/order={{tour.order_id}}">
                            <button type="button" class="btn btn-block btn-dark">Invoice</button>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<!-- <script>
    var len="{{len}}";
    console.log(len,typeof(len));
</script> -->
{% endblock body %}
<!--Main content Ends-->