{% extends 'travelagency/travelagency_basetemplate.html' %}
{% load static %}

{% block travelagency_stylesheets %}
<!-- Put your css link or inline css here -->
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> -->

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
<style type="text/css">
	* {
		list-style: none;
	}

	body {
		background: rgb(186, 224, 245);
		background: linear-gradient(90deg, rgba(186, 224, 245, 1) 21%, rgba(221, 221, 237, 1) 57%, rgba(143, 228, 245, 1) 100%);
	}

	.main {
		height: auto;
		padding: 0;
		margin: 20px;
		left: 0;
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	.main::before {
		position: absolute;
		width: 60%;
		height: 100%;
		transform: skew(25deg);
		background-color: #343a40;
	}
	.content {
		width: calc(100%);
	}

	.Dashboard {
		width: 100%;
		display: flex;
		justify-content: center;
		font-family: fantasy;
		font-size: 45px;
		/* margin-left: 30px; */
		letter-spacing: 2px;
	}

	.title,
	.Thumbnail {
		display: flex;
		align-items: center;
		justify-content: space-between;
		/* width: 100%; */
		margin: 0px 10px 0 30px;
	}

	.Thumbnail label {
		font-size: 25px;
		width: 200px;
		font-weight: bold;
	}

	.info {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
		grid-column-gap: 55px;
		/*grid-row-gap: 20px;*/
		margin-right: 30px;
	}

	.cd {
		color: white;
		width: 400px;
		background: rgb(56, 46, 136);
		background: linear-gradient(90deg, rgba(56, 46, 136, 1) 13%, rgba(51, 34, 153, 1) 49%, rgba(88, 80, 188, 1) 82%, rgba(95, 112, 206, 1) 100%);
		height: auto;
		margin: 30px 30px 30px 30px;
		padding: 30px;
		border-radius: 5px;
	}

	.cd label {
		font-size: 20px;
		font-weight: bold;
	}

	.form-control {
		text-align: center;
		cursor: pointer;
		resize: none;
	}

	.info2 {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
		grid-column-gap: 10px;
	}

	.col-md-6 label {
		font-size: 28px;
		color: white;
		font-weight: bold;
	}

	.col-md-6 {
		background: rgb(56, 46, 136);
		background: linear-gradient(90deg, rgba(56, 46, 136, 1) 13%, rgba(51, 34, 153, 1) 49%, rgba(88, 80, 188, 1) 82%, rgba(95, 112, 206, 1) 100%);
		color: white;
		border-radius: 5px;
		padding: 30px;
		margin: 15px 45px 15px 30px;
		max-width: 95% !important;
	}

	#cards {
		padding: 20px 50px 50px 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-flow: column;
	}

	.cardslabel {
		font-size: 40px;
		font-weight: bolder;
		/*color: white;*/
		margin-left: 30px;
	}

	.card {
		width: 100%;
		/*padding-top: 20px;*/
		margin: 10px 10px 10px 0px;
		color: white;
		background-color: rgb(56, 46, 136);
		;
	}

	.card-body {
		/*background-color: #52525f;*/
		background: rgb(56, 46, 136);
		background: linear-gradient(90deg, rgba(56, 46, 136, 1) 13%, rgba(51, 34, 153, 1) 49%, rgba(88, 80, 188, 1) 82%, rgba(95, 112, 206, 1) 100%);
	}

	.card-body .title {
		width: 100% !important;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.card-body .title .form-group {
		width: 100%;
	}

	.submitbtn {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.submitbtn button {
		width: 180px;
		height: 50px;
		border-radius: 5px;
		background-color: #1d1d1d;
		color: white;
		font-weight: bold;
	}

	.card-body .title {
		margin: 0 !important;
		padding: 0 !important;
	}

	@media screen and (max-width: 850px) {
		#cards {
			width: 100%;
			display: flex;
			padding: 0;
		}

		.card {
			margin-left: 10px;
		}

		.col-md-6 label {
			font-size: 24px;
			color: white;
			font-weight: bold;
		}

		.card-body .title {
			padding: 0 0 0 0;
		}

		.card-body .title .form-group {
			width: 100%;
		}

		.Dashboard,
		.title,
		.Thumbnail {
			margin-left: 0 !important;
			width: 80%;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.info {
			margin-right: 0 !important;
		}
		.content {
			width: 100%;
			padding: 30px;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-flow: column;
			margin-left: 0;
		}

		.editbtn {
			margin-left: 0px !important;
		}

		.editbtn button {
			margin: 0px 0px 15px 0px !important;
		}
	}

	@media screen and (min-width: 850px) {
		.title {
			margin-top: 30px;
		}
	}

	@media screen and (max-width: 630px) {
		.main {
			width: 100%;
			margin: 0 0 0 -30px;
		}

		.content {
			width: 100%;
			padding: 10px;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-flow: column;
			margin-left: 0;
			left: 0;
		}

		.info2 {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
			grid-column-gap: 3px;
			margin-left: 0;
		}

		.info {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
			grid-column-gap: 0px;
			margin-left: 0 !important;
		}

		.cardslabel {
			font-size: 30px;
			margin-left: 0;
		}

		#cards {
			padding: 13px;
		}

		.cd,
		.col-md-6 {
			width: 320px;
			margin: 10px 0 10px 0 !important;
		}
		.Thumbnail label {
			font-size: 18px;
		}

		.Thumbnail {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}


	.setdatebtn {
		background-color: #1d1d1d;
		padding: 10px;
		border-radius: 5px;
		color: #fff;
	}

	#errormsgbg {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.disable-click {
		pointer-events: none;
	}

	.editbtn {
		/* margin-left: 30px; */
		width: 100%;
		display: flex;
		justify-content: center;
	}

	.editbtn button {
		padding: 10px;
		background-color: #1d1d1d;
		border-radius: 5px;
		color: #fff;
	}

	#cards .card,
	#cards .card-header {
		margin-top: 0 !important;
	}

	.cursor-none {
		pointer-events: none;
	}

	.footer-middle {
		z-index: 5;
	}

	.spimg {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		min-width: 110px;
		min-height: 110px;
		max-width: 110px;
		max-height: 110px;
		display: none;
	}

	.spimgs {
		position: relative;
		display: flex;
		align-items: center;
		flex-flow: column;
		width: 140px;
		height: 140px;
	}

	.cdimages {
		display: flex;
		justify-content: space-around;
	}

	.upload_img1_L {
		min-width: 110px;
		min-height: 110px;
		max-width: 110px;
		max-height: 110px;
		padding: 5px;
		border-radius: 4px;
		text-align: center;
		display: none;
		align-items: center;
		justify-content: center;
		border: 5px dashed black;
	}

	.timgUpdate {
		color: #fe6d6d;
		font-size: 15px;
	}

	.arrowonimg {
		display: none;
		margin-top: 10px;
		font-size: 16px;
		line-height: 1.2;
	}

	.arrowonimg i {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 20px;
		font-weight: bold;
	}

	.form-control[readonly] {
		background-color: #e1f9e1;
	}

	.form-control {
		background-color: #fff;
	}

	.showImagesBtn {
		margin: 17px 10px 0 10px;
		text-align: center;
		font-size: 18px;
		cursor: pointer;
	}

	.uploadedImage {
		width: 120px;
		border-radius: 4px;
		margin: 5px;
		display: none;
	}

	.allUploadedImages {
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
	}
	.uploadedThumbnail{
		cursor: pointer;
	}
	#exampleModalCenter1 .modal-title{
		color: #343a40;
	}
	#exampleModalCenter1 .modal-body{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	#exampleModalCenter1 .modal-body img{
		max-width: 145px;
		max-height: 145px;
		border-radius: 4px;
	}
	input[type='file']{
		overflow: hidden;
	}
</style>

{% endblock travelagency_stylesheets %}

{% block travelagency_body %}

<!--Put normal html here -->
<div id="preload">
    <img id="loading-image" src="{% static 'img/loader1.gif' %}" alt="loader" />
</div>

<script type="text/javascript">
    var loader = document.getElementById('preload');
    function removeLoader() {
      setTimeout(function () {
        loader.style.display = 'none';
      }, 3000);
    }
</script>
<div class="main">
	<form class="content" method="POST"
		action='/travelagency/agencytours/edit-tour/{{request.user.userAccess.agentId}}/{{Tour.tourId}}'
		enctype="multipart/form-data" onsubmit="return validator();">

		{% csrf_token %}
		{% if messages %}
		{% for message in messages %}
		<div class="col-md-12">
			<div class="alert alert-{{message.tags}}" role="alert">
				{{message}}
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		</div>
		{% endfor %}
		{% endif %}
		<span class="Dashboard">DASHBOARD</span>
		<div class="editbtn"><button type="button" onclick="enableediting();">Click Here To Edit</button></div>
		<span class="title">
			<!-- <label>Title : </label> -->
			<input type="text" name="ttitle" class="form-control" placeholder="Title *"
				style="height: 50px;left: 0;width: 100%;" value="{{Tour.tourHeading}}" readonly>
		</span>
		<div class="info">
			<div class="cd">
				<!-- <div class="block"><img src="{% static 'travelagency_img/calendar.png' %}"></div> -->
				<label>Enter Date :</label>
				<li>Startind Date<input id="txtF" name="sdate" class="form-control text-center disable-click"
						placeholder="dd/mm/yyyy" value="{{Tour.startDate|date:'c'}}" readonly>
				</li>
				<br>
				<li>Ending Date<input id="txtT" name="edate" class="form-control text-center cursor-none"
						placeholder="(Please Select Start Date First)" value="{{Tour.endDate|date:'c'}}" readonly>
				</li>
			</div>
			<div class="cd">
				<label>Date Limitation :</label>
				<li>The Tour has to be booked before : <input name="bookinglimit" id="bookinglimit" readonly
						value="{{Tour.last_booking_date|date:'c'}}" class="form-control text-center cursor-none"
						placeholder="(Confirm The Tour Start Date First)">
				</li><br>
				<li>Number of Seats *<input type="number" min="1" id="seat"
						placeholder="Total Number of Seats Available" class="form-control"
						value="{{Tour.maximum_people}}" name="seat" readonly>
				</li>
			</div>
			<div class="cd">
				<label>Enter Location :</label>
				<li>
					Starting Point * <br>
					<input type="text" class="form-control" name="slocation" placeholder="Starting Location *"
						value="{{Tour.startingLocation}}" readonly />
				</li>
				<br>
				<li>
					Ending Point *
					<br>
					<input type="text" class="form-control" name="elocation" placeholder="Ending Location *"
						value="{{Tour.endLocation}}" readonly />
				</li>
			</div>
			<div class="cd">
				<label>Enter Price : </label><br>
				<li class="">
					Enter Price *
					<input type="number" class="form-control" name="price" placeholder="Price per People *"
						value="{{Tour.price}}" min="150" readonly />
				</li>
				<br>
				<li class="">
					Any Additional Feature
					<select readonly name="additionalFeature" id="additionalFeature" class="form-control disable-click">
						<option class="hidden" value="" disabled="" selected="" style="text-align: center;">Select
							Additional Feature *</option>
						<option value="Bike-tours">Bike Tours</option>
						<option value="Self-drive car-tours">Self Drive Car Tours</option>
						<option value="Trecking-Special">Trecking Special</option>
						<option value="none">None</option>
					</select>
				</li>
			</div>
			<div class="cd">
				<label>Other Information :</label><br>
				<li class="">
					Enter Type of the Tour *
					<select class="form-control disable-click" readonly id="tourtype" name="ttype" required>
						<option class="hidden" value="" disabled="" selected="" style="text-align: center;">Select Tour
							Type</option>
						<option value="Family-Special">Family Special</option>
						<option value="Friends-Special">Friends Special</option>
						<option value="Couple-Friendly">Couple Friendly</option>
						<option value="Solo-Tour">Solo Tour</option>
					</select>
				</li>
				<br>
				<li class="">
					Upload Your Thumbnail *<br>
					<!-- <a style="color: rgb(181, 243, 218);" href='{{Tour.thumbnail.url}}'>Previously Uploaed Thumbnail</a> -->
					
					<div class="uploadedThumbnail" data-toggle="modal" data-target="#exampleModalCenter1">
						Uploaded Thumbnail
					</div>
					<input type="file" name="thumbnail" id="upload_img" class="form-control upload disable-click"
						accept='image/*' />
					<div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered" role="document">
							<div class="modal-content">
								<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLongTitle">Uploaded Images</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								</div>
								<div class="modal-body">
									<img src="{{Tour.thumbnail.url}}" alt="Thrumneil">
								</div>
							</div>
						</div>
					</div>

				</li>
			</div>
			<div class="cd">
				<label>Special Offer :</label><br>
				<li class="">
					Do You Have Any Special Offer ?<br>
					<select name="spoffer" id="spoffer" class="form-control disable-click" readonly onchange="setsp();">
						<option class="hidden" id="" value="" disabled="" selected="" style="text-align: center;">Select
							Special Offer *</option>
						<option value="True">Yes</option>
						<option value="False">No</option>
					</select>

				</li>
				<br>
				<li id="spod">
					Write Your Special Offer *
					<textarea placeholder="Your Special Offer" name="spofferdetails" id="spofferdetails"
						class="form-control" readonly></textarea>

				</li>
			</div>

			<div class="cd">
				<label>Edit Tour Images (One by One):</label><br>
				<div class="cdimages pt-3">
					<div class="spimgs">
						<select id="timgnum" name="timgnum" class="form-control text-center disable-click"
							onchange="timgChange(this);" readonly>
							<option value="Select">Images</option>
						</select>
						<p class="arrowonimg">
							Click on the image or Drag the new image over here to upload
							<i class="fa fa-arrow-right" aria-hidden="true"></i>
						</p>
					</div>
					<div class="spimgs">


						<img src="{{ tourImage.image1.url }}" class="upload_img1_L upload_img1_L1" id="label_img1" />
						<input type="file" accept='image/*' name="image1" id="upload_img1" class="form-control spimg" />

						{% if imglist1 == '0' %}
						<img src="" class="upload_img1_L upload_img2_L2" id="label_img2" />
						{% else %}
						<img src="{{ tourImage.image2.url }}" class="upload_img1_L upload_img2_L2" id="label_img2" />
						{% endif %}
						<input type="file" accept='image/*' name="image2" id="upload_img2" class="form-control spimg" />

						{% if imglist2 == '0' %}
						<img src="" class="upload_img1_L upload_img3_L3" id="label_img3" />
						{%else%}
						<img src="{{ tourImage.image3.url }}" class="upload_img1_L upload_img3_L3" id="label_img3" />
						{%endif%}
						<input type="file" accept='image/*' name="image3" id="upload_img3" class="form-control spimg" />

						{% if imglist3 == '0' %}
						<img src="" class="upload_img1_L upload_img4_L4" id="label_img4" />
						{%else%}
						<img src="{{ tourImage.image4.url }}" class="upload_img1_L upload_img4_L4" id="label_img4" />
						{%endif%}
						<input type="file" accept='image/*' name="image4" id="upload_img4" class="form-control spimg" />

						{% if imglist4 == '0' %}
						<img src="" class="upload_img1_L upload_img5_L5" id="label_img5" />
						{%else%}
						<img src="{{ tourImage.image5.url }}" class="upload_img1_L upload_img5_L5" id="label_img5" />
						{%endif%}
						<input type="file" accept='image/*' name="image5" id="upload_img5" class="form-control spimg" />

						{% if imglist5 == '0' %}
						<img src="" class="upload_img1_L upload_img6_L6" id="label_img6" />
						{%else%}
						<img src="{{ tourImage.image6.url }}" class="upload_img1_L upload_img6_L6" id="label_img6" />
						{%endif%}
						<input type="file" accept='image/*' name="image6" id="upload_img6" class="form-control spimg" />

						<p class="timgUpdate"></p>
					</div>
				</div>
				<div class="showImagesBtn" data-toggle="modal" data-target="#exampleModalCenter">
					Click Here To See Uploaded images
				</div>
			</div>

			<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
				aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLongTitle">Uploaded Images</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body allUploadedImages">
							<img src="{{ tourImage.image1.url }}" class="uploadedImage" />
							{% if imglist1 == '0' %}
							<img src="#" alt="Image 2" class="uploadedImage">
							{%else%}
							<img src="{{ tourImage.image2.url }}" class="uploadedImage" />
							{%endif%}
							{% if imglist2 == '0' %}
							<img src="#" alt="Image 1" class="uploadedImage">
							{%else%}
							<img src="{{ tourImage.image3.url }}" class="uploadedImage" />
							{%endif%}
							{% if imglist3 == '0' %}
							<img src="#" alt="Image 1" class="uploadedImage">
							{%else%}
							<img src="{{ tourImage.image3.url }}" class="uploadedImage" />
							{%endif%}
							{% if imglist4 == '0' %}
							<img src="#" alt="Image 4" class="uploadedImage">
							{%else%}
							<img src="{{ tourImage.image4.url }}" class="uploadedImage" />
							{%endif%}
							{% if imglist5 == '0' %}
							<img src="#" alt="Image 5" class="uploadedImage">
							{%else%}
							<img src="{{ tourImage.image5.url }}" class="uploadedImage" />
							{%endif%}
						</div>
						<div class="modal-footer font-weight-bold text-capitalise">
							Select the index of image you want to change and upload new image
						</div>
					</div>
				</div>
			</div>
		</div>
		<br>
		<div class="info2">
			<!-- <div class="cd1"> -->
			<div class="col-md-6">
				<label>Tour Inclusive :</label>
				<div class="form-group">
					<textarea class="form-control" name="inclusive" rows="5" id="comment"
						readonly>Enter the Text</textarea>
				</div>
			</div>

			<div class="col-md-6">
				<label>Tour Exclusive :</label>
				<div class="form-group">
					<textarea class="form-control" name="exclusive" rows="5" id="comment"
						readonly>Enter the Text</textarea>
				</div>
			</div>
			<!-- </div> -->
			<!-- <div class="cd1"> -->
			<div class="col-md-6">
				<label>Special Highlights :</label>
				<div class="form-group">
					<textarea class="form-control" name="highlight" minlength="20" placeholder="Enter Text" rows="5"
						id="comment" readonly>Enter the Text</textarea>
				</div>
			</div>
			<div class="col-md-6">
				<label>Overview :</label>
				<div class="form-group">
					<textarea class="form-control" name="overview" minlength="20" placeholder="Enter Text" rows="5"
						id="comment" readonly>Enter the Text</textarea>
				</div>
			</div>
			<!-- </div> -->
		</div>
		<span class="cardslabel">Journey Dairy :</span>
		<div id="cards">
		</div>
		<div id="errormsgbg">
			<div id="errormsg" onclick="removeValidator();">
			</div>
		</div>
		<span class="submitbtn"><button class="disable-click" type="sbumit">Submit</button></span>

	</form>
</div>
<!--Normal html ends here-->
<!--Put your js here -->
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
	crossorigin="anonymous">
	</script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
	integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>

<script type="text/javascript">
	let globalVar1 = 1;
	function enableediting() {
		var publish = "{{publish}}";
		if (publish === 'False') {
			$('input').removeAttr('readonly');
			$('input').attr('required', 'required');
			$('select').attr('required', 'required');
			$('input').removeClass('disable-click');
			$('textarea').removeAttr('readonly');
			$('button').removeClass('disable-click');
			$('select').removeClass('disable-click');
			$('#upload_img').removeAttr('required');
			$('#txtT').removeAttr('required');
			$('#txtT').removeClass('cursor-none');
			$('#bookinglimit').removeClass('cursor-none');
			$('.spimg').attr('required', false);
			$('#spoffer').attr('readonly', false);
			$('#upload_img').attr('readonly', false);
			$('#tourtype').attr('readonly', false);
			$('#timgnum').attr('readonly', false);
			$('#additionalFeature').attr('readonly', false);
		}
		else {
			$("input[name='seat']").removeAttr('readonly');
			$("input[name='seat']").attr('required', 'required');
			$(".submitbtn button").removeClass('disable-click');
		}
	}

	document.querySelectorAll('.spimg').forEach(function (el) {
		el.addEventListener('change', function () {
			readURL(this);
		});
	})
	function readURL(input) {
		if (input.files && input.files[0]) {
			var uploadedImage = '.allUploadedImages img:nth-child(' + globalVar1 + ')';
			var allUploadedImages = document.querySelector(uploadedImage);
			allUploadedImages.classList.add('d-flex');
			var reader = new FileReader();
			reader.onload = function (e) {
				var imgid = '#label_img' + input.id[10];
				$(imgid).attr('src', e.target.result);
				allUploadedImages.setAttribute('src', e.target.result);
			}
			reader.readAsDataURL(input.files[0]);
		}
	}

	$(function () {
		var spo = "{{Tour.specialOffer}}";
		var specialOffer = '#spoffer option[value="' + spo + '"]';
		console.log(specialOffer);
		$(specialOffer).attr("selected", "selected");
		let spod = document.getElementById('spod');
		spod.style.visibility = 'hidden';
		if (document.getElementById('spoffer').value === 'True') {
			console.log('true');
			$('#spofferdetails').val("{{Tour.specialOfferDescription}}");
			setsp();
		}
		else {
			console.log('false');
		}
		var mindate = "{{Tour.startDate}}";
		var maxdate = "{{Tour.endDate}}";
		mindate = new Date(mindate);
		maxdate = new Date(maxdate);
		var today = new Date();
		var tomorrowReal = new Date(today.getTime() + (24 * 60 * 60 * 1000));
		var after1week = new Date(today.getTime() + (7 * 24 * 60 * 60 * 1000));
		var tomorrow = new Date(mindate.getTime() + (24 * 60 * 60 * 1000));
		var yesterday = new Date(mindate.getTime() - (3 * 24 * 60 * 60 * 1000));
		var endDateBefore = new Date(maxdate.getTime() - (24 * 60 * 60 * 1000));
		$('#txtF').datepicker({
			showAnim: 'drop',
			numberOfMonths: 1,
			dateFormat: 'dd/mm/yy',
			minDate: after1week,
			maxDate: endDateBefore,
			onSelect: function (sd) {
				var d1 = sd.substr(0, 2);
				var d2 = sd.substr(3, 2);
				var d3 = sd.substr(6, 4);
				sd = d2 + '/' + d1 + '/' + d3;
				var k = new Date(sd);
				var txtFtomorrow = new Date(k.getTime() + (24 * 60 * 60 * 1000));
				var txtFyesterday = new Date(k.getTime() - (3 * 24 * 60 * 60 * 1000));
				$('#txtT').datepicker("option", "minDate", txtFtomorrow);
				$('#txtT').attr('required', 'required');
				$('#txtT').attr('placeholder', 'dd/mm/yyyy');
				$('#txtT').removeClass('cursor-none');
				$('#bookinglimit').datepicker("option", "maxDate", txtFyesterday);
				$('#bookinglimit').removeClass('cursor-none');
				$('#bookinglimit').attr('placeholder', 'dd/mm/yyyy');
				$('#bookinglimit').attr('required', 'required');
				fun();
			}
		});
		$('#txtT').datepicker({
			showAnim: 'drop',
			numberOfMonths: 1,
			dateFormat: 'dd/mm/yy',
			minDate: tomorrow,
			onSelect: function (sd) {
				var d1 = sd.substr(0, 2);
				var d2 = sd.substr(3, 2);
				var d3 = sd.substr(6, 4);
				var selectdate = d2 + '/' + d1 + '/' + d3;
				selectdate = new Date(selectdate);
				selectdate = new Date(selectdate.getTime() - (24 * 60 * 60 * 1000));
				$('#txtF').datepicker("option", "maxDate", selectdate);
				fun();
			}
		});
		$('#bookinglimit').datepicker({
			minDate: tomorrowReal,
			maxDate: yesterday,
			showAnim: 'drop',
			numberOfMonths: 1,
			dateFormat: 'dd/mm/yy'
		});
	});

	$(function () {

		var tourtypeValue = "{{Tour.tour_type}}";
		var tourtype = '#tourtype option[value="' + tourtypeValue + '"]';
		console.log(tourtypeValue, tourtype);
		$(tourtype).attr("selected", "selected");

		var additionalFeatureValue = "{{Tour.special_tour_type}}";
		var additionalFeature = '#additionalFeature option[value="' + additionalFeatureValue + '"]';
		console.log(additionalFeature, additionalFeature);
		$(additionalFeature).attr("selected", "selected");

		var bd = "{{Tour.last_booking_date|date:'c'}}";
		var d1 = bd.substr(0, 4);
		var d2 = bd.substr(5, 2);
		var d3 = bd.substr(8, 2);
		var bd1 = d3 + '/' + d2 + '/' + d1;
		$('#bookinglimit').val(bd1);

		var sd = "{{Tour.startDate|date:'c'}}";
		var d1 = sd.substr(0, 4);
		var d2 = sd.substr(5, 2);
		var d3 = sd.substr(8, 2);
		var sd1 = d3 + '/' + d2 + '/' + d1;
		$('#txtF').val(sd1);

		sd = new Date(sd);

		var ed = "{{Tour.endDate|date:'c'}}";
		var d1 = ed.substr(0, 4);
		var d2 = ed.substr(5, 2);
		var d3 = ed.substr(8, 2);
		var ed1 = d3 + '/' + d2 + '/' + d1;

		$('#txtT').val(ed1);

		ed = new Date(ed);
		var d = ed.getTime() - sd.getTime();
		var x = d / (1000 * 3600 * 24) + 1;
		let ggg = x;

		var temp = "{{desc | linebreaksbr}}";
		var t = temp.replace(/<br\s*\/?>/gi, '\n')
		var d2 = t.split('@@@@');
		var ui = [];
		for (let j = 0; j < ggg; j++) {

			x = d2[j].split('$$$$');
			ui.push(x[0]);
			ui.push(x[1]);
		}

		let ii = 0;
		for (let i = 0; i < ggg * 2; i = i + 2, ii = ii + 1) {
			var nodeHead = document.createTextNode('Day ' + (ii + 1));
			var y = 'Day' + (ii + 1);

			var content = document.createElement("div");
			content.classList.add('card');
			var cardHead = document.createElement('div');
			cardHead.classList.add('card-header');
			var h3 = document.createElement('h3');
			content.classList.add(y);
			h3.appendChild(nodeHead);
			cardHead.appendChild(h3);

			var cardBody = document.createElement('div');
			cardBody.classList.add('card-body');

			var cardBody1 = document.createElement('div');
			cardBody1.classList.add('col-md-12');
			cardBody1.classList.add('title');

			var cardBody1Content = document.createElement('div');
			cardBody1Content.classList.add('form-group');

			var cardBody1ContentInput = document.createElement('input');
			// cardBody1ContentInput.prop("required", true);
			cardBody1ContentInput.required = 'required';
			cardBody1ContentInput.type = 'text';
			cardBody1ContentInput.classList.add('form-control');
			cardBody1ContentInput.readOnly = "readonly";
			cardBody1ContentInput.name = 'dayTitle' + (ii + 1);
			var day = 'dayTitle' + (ii + 1);
			cardBody1ContentInput.value = ui[i];

			cardBody1Content.appendChild(cardBody1ContentInput);

			// cardBody1.appendChild(cardBody1l);
			cardBody1.appendChild(cardBody1Content);

			var cardBodyl = document.createElement('label');
			var cardBodyln = document.createTextNode('Descriptions :');

			cardBodyl.appendChild(cardBodyln);


			var cardBody2 = document.createElement('div');
			cardBody2.classList.add('form-group');

			var cardBodyTextarea = document.createElement('textarea');
			// cardBodyTextarea.prop("required", true);
			cardBodyTextarea.required = 'required';
			cardBodyTextarea.minLength = "20";
			cardBodyTextarea.classList.add('form-control');
			cardBodyTextarea.placeholder = 'Describe Your Day ' + (ii + 1);
			cardBodyTextarea.id = 'comment';
			cardBodyTextarea.rows = "4";
			cardBodyTextarea.name = 'dayDescription' + (ii + 1);
			cardBodyTextarea.readOnly = "readonly";
			cardBodyTextarea.value = ui[i + 1];

			cardBody2.appendChild(cardBodyTextarea);

			cardBody.appendChild(cardBody1);
			cardBody.appendChild(cardBody2);

			content.appendChild(cardHead);
			content.appendChild(cardBody);

			var cards = document.getElementById('cards');
			cards.appendChild(content);
		}
	});

	function fun() {
		let allCard = document.querySelectorAll('.card');
		var sd = document.getElementById('txtF').value;
		// var d1=sd.substr(0,4);
		// var d2=sd.substr(5,2);
		// var d3=sd.substr(8,2);
		// sd=d2+'/'+d3+'/'+d1;
		// sd=new Date(sd);
		var d1 = sd.substr(0, 2);
		var d2 = sd.substr(3, 2);
		var d3 = sd.substr(6, 4);
		sd = d2 + '/' + d1 + '/' + d3;
		sd = new Date(sd);
		var ed = document.getElementById('txtT').value;
		var d1 = ed.substr(0, 2);
		var d2 = ed.substr(3, 2);
		var d3 = ed.substr(6, 4);
		ed = d2 + '/' + d1 + '/' + d3;
		ed = new Date(ed);
		var d = ed.getTime() - sd.getTime();
		var x = d / (1000 * 3600 * 24) + 1;
		allCardLn = allCard.length;
		if (x > allCardLn) {
			addCard(allCardLn, x);
		}
		else if (x < allCardLn) {
			removeCard(allCardLn, x);
		}
	}

	function addCard(a, b) {
		for (let i = a; i < b; i++) {
			var content = document.createElement("div");
			content.classList.add('card');
			var cardHead = document.createElement('div');
			cardHead.classList.add('card-header');
			var h3 = document.createElement('h3');
			var nodeHead = document.createTextNode('Day ' + (i + 1));
			var y = 'Day' + (i + 1);
			content.classList.add(y);
			h3.appendChild(nodeHead);
			cardHead.appendChild(h3);

			var cardBody = document.createElement('div');
			cardBody.classList.add('card-body');

			var cardBody1 = document.createElement('div');
			cardBody1.classList.add('col-md-12');
			cardBody1.classList.add('title');

			var cardBody1Content = document.createElement('div');
			cardBody1Content.classList.add('form-group');

			var cardBody1ContentInput = document.createElement('input');
			// cardBody1ContentInput.prop("required", true);
			cardBody1ContentInput.required = 'required';
			cardBody1ContentInput.type = 'text';
			cardBody1ContentInput.classList.add('form-control');
			cardBody1ContentInput.placeholder = 'Title ' + (i + 1);
			cardBody1ContentInput.name = 'dayTitle' + (i + 1);
			cardBody1ContentInput.maxLength = '100';

			cardBody1Content.appendChild(cardBody1ContentInput);

			// cardBody1.appendChild(cardBody1l);
			cardBody1.appendChild(cardBody1Content);

			var cardBodyl = document.createElement('label');
			var cardBodyln = document.createTextNode('Descriptions :');

			cardBodyl.appendChild(cardBodyln);


			var cardBody2 = document.createElement('div');
			cardBody2.classList.add('form-group');

			var cardBodyTextarea = document.createElement('textarea');
			// cardBodyTextarea.prop("required", true);
			cardBodyTextarea.required = 'required';
			cardBodyTextarea.minLength = "20";
			cardBodyTextarea.classList.add('form-control');
			cardBodyTextarea.placeholder = 'Describe Your Day ' + (i + 1);
			cardBodyTextarea.id = 'comment';
			cardBodyTextarea.rows = "4";
			cardBodyTextarea.name = 'dayDescription' + (i + 1);

			cardBody2.appendChild(cardBodyTextarea);

			cardBody.appendChild(cardBody1);
			cardBody.appendChild(cardBody2);

			content.appendChild(cardHead);
			content.appendChild(cardBody);

			var cards = document.getElementById('cards');
			cards.appendChild(content);
		}

	}

	function removeCard(allCardLn, x) {
		let allCard = document.querySelectorAll('.card');
		for (let i = allCardLn - 1; i >= x; i--) {
			allCard[i].remove();
		}
	}

	document.querySelectorAll('.uploadedImage').forEach(function (el) {
		if (el.getAttribute('src') == '#') {
			el.classList.remove('d-flex');
		}
		else {
			el.classList.add('d-flex');
		}
	});

	$(function () {
		var dropzone = document.getElementById('upload_img');
		$('#upload_img').on({
			'dragover':function(){
				dropzone.style.backgroundColor='red';
			},
			'change':function(){
				dropzone.style.backgroundColor='white';
				readThumbnail(this);
			}
		})
		.on('dragleave dragexit', function() {
			dropzoneImg1.style.backgroundColor='white';
		});

		var tourimgnum = 6;
		var optionsAsString = "";
		for (var i = 0; i < tourimgnum; i++) {
			optionsAsString += "<option value='" + (i + 1) + "'>Image " + (i + 1) + "</option>";
		}
		$("select[name='timgnum']").append($(optionsAsString));

		var timgUpdate = document.querySelector('.timgUpdate');
		var dropzoneImg1 = document.querySelector('.upload_img1_L1');
		$('#upload_img1').on({
			'dragover': function () {
				dropzoneImg1.style.borderColor = 'red';
			},
			'change': function () {
				dropzoneImg1.style.borderColor = 'green';
				timgUpdate.innerHTML = '*Image 1 has been updated';
			}
		})
			.on('dragleave dragexit', function () {
				dropzoneImg1.style.borderColor = 'black';
			});
		var dropzoneImg2 = document.querySelector('.upload_img2_L2');
		$('#upload_img2').on({
			'dragover': function () {
				dropzoneImg2.style.borderColor = 'red';
			},
			'change': function () {
				dropzoneImg2.style.borderColor = 'green';
				timgUpdate.innerHTML = '*Image 2 has been updated';
			}
		})
			.on('dragleave dragexit', function () {
				dropzoneImg2.style.borderColor = 'black';
			});
		var dropzoneImg3 = document.querySelector('.upload_img3_L3');
		$('#upload_img3').on({
			'dragover': function () {
				dropzoneImg3.style.borderColor = 'red';
			},
			'change': function () {
				dropzoneImg3.style.borderColor = 'green';
				timgUpdate.innerHTML = '*Image 3 has been updated';
			}
		})
			.on('dragleave dragexit', function () {
				dropzoneImg3.style.borderColor = 'black';
			});
		var dropzoneImg4 = document.querySelector('.upload_img4_L4');
		$('#upload_img4').on({
			'dragover': function () {
				dropzoneImg4.style.borderColor = 'red';
			},
			'change': function () {
				dropzoneImg4.style.borderColor = 'green';
				timgUpdate.innerHTML = '*Image 4 has been updated';
			}
		})
			.on('dragleave dragexit', function () {
				dropzoneImg4.style.borderColor = 'black';
			});
		var dropzoneImg5 = document.querySelector('.upload_img5_L5');
		$('#upload_img5').on({
			'dragover': function () {
				dropzoneImg5.style.borderColor = 'red';
			},
			'change': function () {
				dropzoneImg5.style.borderColor = 'green';
				timgUpdate.innerHTML = '*Image 5 has been updated';
			}
		})
			.on('dragleave dragexit', function () {
				dropzoneImg5.style.borderColor = 'black';
			});
		var dropzoneImg6 = document.querySelector('.upload_img6_L6');
		$('#upload_img6').on({
			'dragover': function () {
				dropzoneImg6.style.borderColor = 'red';
			},
			'change': function () {
				dropzoneImg6.style.borderColor = 'green';
				timgUpdate.innerHTML = '*Image 6 has been updated';
			}
		})
			.on('dragleave dragexit', function () {
				dropzoneImg6.style.borderColor = 'black';
			});
		var overview = "{{Tour.overview | linebreaksbr}}".replace('"', '');
		console.log(overview, typeof (overview), overview[23])
		overview = overview.replaceAll('<br>', '\n');

		$('textarea[name=overview]').val(overview);
		var highlights = "{{Tour.highlight | linebreaksbr}}".replace('"', '');
		highlights = highlights.replaceAll('<br>', '\n');
		$('textarea[name=highlight]').val(highlights);
		var exclusive = "{{Tour.exclusive | linebreaksbr}}".replace('"', '');
		exclusive = exclusive.replaceAll('<br>', '\n');

		$('textarea[name=exclusive]').val(exclusive);
		var inclusive = "{{Tour.inclusive | linebreaksbr}}".replace('"', '');
		inclusive = inclusive.replaceAll('<br>', '\n');

		$('textarea[name=inclusive]').val(inclusive);
		// for (let i = 1; i < ayan.length + 1; i++) {
		// 	var name = 'dayDescription' + i;
		// 	var XXX = 'textarea[name=' + name + ']';
		// 	var m = $(XXX).val();
		// 	m = m.replace(/(\r\n|\n|\r)/gm, "\n");
		// 	$(XXX).val(m);
		// }

	});

	function readThumbnail(input){
		if (input.files && input.files[0]) {
			var reader = new FileReader();
			reader.onload = function(e) {
				$('#exampleModalCenter1 .modal-body img').attr('src', e.target.result);
			}
			reader.readAsDataURL(input.files[0]);
		}
	}

	function timgChange(obj) {
		globalVar1 = document.getElementById('timgnum').value;
		var arrowonimg = document.querySelector('.arrowonimg');
		arrowonimg.classList.add('d-flex');
		var num = parseInt(obj.value);
		var upload_img1_L = document.querySelectorAll('.upload_img1_L');
		var spimg = document.querySelectorAll('.spimg');
		upload_img1_L.forEach(function (el) {
			el.classList.remove('d-flex');
		});
		spimg.forEach(function (el) {
			el.classList.remove('d-flex');
		})
		var label = 'label_img' + num;
		var imgfile = 'upload_img' + num;
		var x = document.getElementById(imgfile);
		var y = document.getElementById(label);
		x.classList.add('d-flex');
		y.classList.add('d-flex');
	}

	function setsp() {
		let spo = document.getElementById('spoffer');
		let spod = document.getElementById('spod');
		let spofferdetails = document.getElementById('spofferdetails');
		if (spo.value !== 'True') {
			console.log('in setsp False');
			spod.style.visibility = 'hidden';
			$('#spofferdetails').removeAttr('required');
		}
		else {
			console.log('in setsp True');
			spod.style.visibility = 'visible';
			$('#spofferdetails').attr('required', 'required');
		}
	}

	function validator() {
		let msg = [];
		let ayan = document.querySelectorAll('.card');
		if (ayan.length < 1) {
			msg.push('Something Went Wrong, Please Reload and Try Again. \n In Case of Dificulty Contact Us.');
		}
		// msg.push('hello');
		if (msg.length > 0) {
			errormsg.innerHTML = msg.join('\n');
			// errormsgbg.style.width="500px";
			errormsg.style.padding = "8px";
			errormsgbg.style.borderRadius = "5px";
			errormsgbg.style.backgroundColor = '#FBD0F5';
			errormsg.style.color = 'red';
			errormsgbg.style.margin = '10px';
			// errormsg.style.fontWeight="bold";
			return false;
		}
		var inclusive = $('textarea[name=inclusive]').val();
		inclusive = inclusive.replace(/(\r\n|\n|\r)/gm, "\n");
		$('textarea[name=inclusive]').val(inclusive);

		var exclusive = $('textarea[name=exclusive]').val();
		exclusive = exclusive.replace(/(\r\n|\n|\r)/gm, "\n");
		$('textarea[name=exclusive]').val(exclusive);

		var highlight = $('textarea[name=highlight]').val();
		highlight = highlight.replace(/(\r\n|\n|\r)/gm, "\n");
		$('textarea[name=highlight]').val(highlight);

		var overview = $('textarea[name=overview]').val();
		overview = overview.replace(/(\r\n|\n|\r)/gm, "\n");
		$('textarea[name=overview]').val(overview);
		for (let i = 1; i < ayan.length + 1; i++) {
			var name = 'dayDescription' + i;
			var XXX = 'textarea[name=' + name + ']';
			var m = $(XXX).val();
			m = m.replace(/(\r\n|\n|\r)/gm, "\n");
			$(XXX).val(m);
		}
		return true;
	}

	function removeValidator() {

		var errormsg = document.getElementById('errormsg');

		var errormsgbg = document.getElementById('errormsgbg');
		errormsg.innerHTML = null;
		errormsg.style.padding = '0px';
		errormsgbg.style.margin = '0px';
	}
	window.onbeforeunload = function (e) {
        e = e || window.event;
        if (e) {
            e.returnValue = '';
        }
        return '';
    };
</script>

<!-- JS ends here-->

{% endblock travelagency_body %}