/*Navbar */
.navbar{
        height: 60px;
    }
    .navbar .nav-item .nav-link{
        background: #0d141c;
    }

    @media screen and (max-width:900px) {
        .paymentmode {
            justify-content: center;
        }
    }
    .nav-item{
        margin: 0 3px;
    }
    nav .dropdown-menu{
        top: 95%!important;
    }
    @media screen and (max-width:990px) {
        nav{
            padding: 0.5rem 0!important;
        }
        .navbar-brand{
            margin-left: 1rem;
        }
        .navbar-toggler{
            margin-right: 1rem;
        }
    }



.navbar{
   background-color: #0d141c !important;

}
.navbar .nav-item .nav-link{
    color:#fff !important;
		font-family: Helvatica;
		font-size:19px !important;
    }
.nav-item dropdown :after {
display: none !important;
}	
.navbar-light .navbar-toggler-icon {
    background: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
}

.navbar .nav-item .nav-link:hover{
    background-color: #ddd;
  color: black !important;
  border-radius: 5px;
  
}
.navbar-nav a {
           
            transition: 0.3s linear;
        }
		
	
	
		
	.fa-sign-out{
		color: gold;
	}
	.fa-user{
		color: #5f27cd;
	}
	.fa-align-left{
		color:#ef1961;
	}
	.fa-phone-square{
		color:#3ce825;
	}
	.fa-question-circle{
		color: #d63737;
	}
	.fa-book{
		color:#e8259a;
	}
.fa-car{
font-size: 20px;
 color: #2d67b2;
}


/*Navbar End*/	


footer {
  background-color: #0d141c;
 color:#fff;
  margin-top:100px;
  
}

.footer-middle h4{
	border-left: 3px solid #eeeeee !important;
	padding-left: 10px;
    
    
}

footer a {
  color: #fff;
  font-size: 14px;
  transition-duration: 0.2s;
}

footer a:hover {
  color: #FA944B;
  text-decoration: none;
}

.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #FFFFFF;
  
}

.footer-middle {
  padding-top: 2em;
  color: #fff;
}

footer ul li a i{
	margin-right: 5px;
}

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}
ul.paymentmode img{
	width: 40px; 
	height: 40px;
}
ul.paymentmode{
	display:flex;
}
ul.social-network li {
  display: inline;
  margin: 0 5px;
}


.social-network a.icoFacebook:hover {
  background: linear-gradient(to right, #00c6ff, #0072ff);
}

.social-network a.icoTwitter:hover {
  background: linear-gradient(to right, #00b4db, #0083b0);
}
.social-network a.icoInstagram:hover {
  background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
}
.social-network a.icoPinterest:hover {
  background: linear-gradient(to right, #e52d27, #b31217);
}
.social-network a.icoYoutube:hover {
  background: linear-gradient(to right, #e52d27, #b31217);
}
.social-network a.icoLinkedin:hover {
  background: linear-gradient(to right, #00b4db, #0083b0);
}


.social-network a.icoFacebook:hover i,
.social-network a.icoPinterest:hover i,
.social-network a.icoYoutube:hover i,
.social-network a.icoLinkedin:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoInstagram:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 10px auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #F9F9F9;
}


.row.heading h2 {
    color: #fff;
    font-size: 52.52px;
    line-height: 95px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 40px;
    padding-bottom: 20px;
    text-transform: uppercase;
}

ul{
  margin:0;
  padding:0;
  list-style:none;
}

@media screen and (max-width: 400px) {
  .footer-middle{
    text-align:center;
  }
} 
 
.footer-pad img{
	transform: translateX(0px) !important;
}

@media screen and (max-width: 768px) {
.footer-pad img{
	transform: translateX(0px) !important;
}
}
@media screen and (max-width: 767px) {

.footer-middle{
    text-align:center;
	
  }
  	.footer-middle h4{
     padding-left: 0 !important;
    border-left: transparent !important;
  
}
}

@media screen and (max-width: 600px)  {
  
  .col-lg{
	  max-width:100%;
	  
  }
  }

