{% extends 'basetemplate.html' %}
{% load static %}
{% block stylesheets %}
    <!--CSS Starts here -->
<style>
body {
 /*background-image: url("{% static 'img/trav.gif' %}");
 background-size: cover;*/
 background: linear-gradient(to right, #000428, #004e92);     
}
.col-md-8 {
	background-color: #fff;
	padding-top:20px;
	padding-bottom:20px;
	border-radius:15px;
}
#mover{
-webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
</style>
    <!--CSS Ends here -->
{% endblock stylesheets %}
{% block body %}
<!-- loader -->
<div id="preload">
    <img id="loading-image" src="{% static 'img/loader1.gif' %}" alt="loader" />
</div>

<script type="text/javascript">
    var loader = document.getElementById('preload');
    function removeLoader() {
      setTimeout(function () {
        loader.style.display = 'none';
      }, 3000);
    }
</script>
    <!--check out-->
<div class="container">
    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" id="mover" src="{% static 'img/logo2.jpg' %}" alt="" width="80" height="75">
        <h2 class="text-white">Checkout form</h2>
        <!--<p class="lead text-white">Below is an example form built entirely with Bootstrap’s form controls. 
		Each required form group has a validation state that can .</p>-->
    </div>
    {% if messages %}
                    {% for message in messages %}
                    <div class="col-md-12">
                        <div class="alert alert-{{message.tags}}" role="alert">
                            {{message}}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
    <form action='/tour/booktour/{{Tour.tourId}}/{{Tour.seller.userAccess.agentId}}' method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-white">Your cart</span>
                   </h4>
            <ul class="list-group mb-3 sticky-top">
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">{{Tour.tourHeading}}</h6>
                    </div>
                    
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">Tour Starts On</h6>
                    </div>
                    <span class="text-muted">{{Tour.startDate}}</span>
                    
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">Tour Ends On</h6>
                    </div>
                    <span class="text-muted">{{Tour.endDate}}</span>
                    
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">Tour Starting Location</h6>
                    </div>
                    <span class="text-muted">{{Tour.startingLocation}}</span>
                    
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">Destination</h6>
                    </div>
                    <span class="text-muted">{{Tour.endLocation}}</span>

                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">Price per People</h6>
                    </div>
                    <span class="text-muted">&#8377;{{Tour.price}}/people</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <input type="number" id="quantityField" class="form-control" min="1" placeholder="Total no. of People" style="width:100%;" required name="total_people">            
                    </li>
                <li class="list-group-item d-flex justify-content-between bg-light">
                    
                        <h6 class="my-0">Total seats Left</h6>
                    <span >{{Tour.maximum_people}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span >Total (INR)</span>
                    <strong id="totalField"></strong>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span >Pay Only : </span>
                    <strong id="payField"></strong>
                </li>
            </ul>
            
        </div>
        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Booking details</h4>
            <form>
			<div class="form-group">
    <label><i class="fa fa-user-circle fa-lg"></i>&nbsp;Full Name </label>
    <input type="text" class="form-control" id="username"  placeholder="Username" required value="{{request.user.name}}" name="name">
	<div class="invalid-feedback" style="width: 100%;"> Your username is required. </div>
    </div>
  <div class="form-group">
    <label><i class="fa fa-envelope  fa-lg"></i>&nbsp; Email address<span class="text-muted">(Optional)</span></label>
    <input type="email" class="form-control" id="email"  placeholder="you@example.com" required value="{{request.user.email}}" name="email">
	<div class="invalid-feedback"> Please enter a valid email address. </div>
    </div>
  <div class="form-group">
    <label><i class="fa fa-address-card  fa-lg"></i> &nbsp;Address </label>
    <input type="text" class="form-control" id="address"  placeholder="1234 Main St" required value="{{request.user.address}}" name='address'>
	<div class="invalid-feedback"> Please enter your address. </div>
    </div>
<div class="form-group">
    <label><i class="fa fa-address-card  fa-lg" ></i> &nbsp;Phone No. <span class="text-muted">(Optional)</span> </label>
    <input type="text" class="form-control" id="phone"  placeholder="Apartment or suite" name='phone' required value="{{request.user.phNo}}">
    </div>	
	
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="save-info" required>
    <label class="form-check-label" for="exampleCheck1">Accept our Terms & Conditions</label>
  </div>
  <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
</form>
    </div>
    </div>
</form>
</div>
<!--check out end-->
<script type="text/javascript">
    var pricePerItem = {{Tour.price}};
    $('#quantityField').on('input',function(event){
        var quantity = $(this).val();
        var total = pricePerItem * quantity;
        $('#totalField').text(total);
        $('#payField').text(total*(10/100));
    });
    var quantityField=document.getElementById('quantityField');
    var bb={{Tour.maximum_people}};
    quantityField.setAttribute('max',bb);
    // window.onbeforeunload = function (e) {
    //     e = e || window.event;
    //     if (e) {
    //         e.returnValue = '';
    //     }
    //     return '';
    // };
</script>
{% endblock body %}