{% extends 'basetemplate.html' %}
{% load static %}
<!-- CSS Starts here -->
{% block stylesheets %}

<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
<style>
    main{
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-x: hidden;
        flex-flow: column;
    }
    .left{
        border-radius: 5px;
        height: 83vh;
        overflow: hidden;
        background-color: #C6CFD7;
        /* background-color: #ccc; */
        position: all;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .left ul{
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .left ul li{
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        text-decoration: none;
        color: black;
    }
    .left ul li:hover{
        background-color: #0a2e4e;
        border-radius: 5px;
        color: white;
    }
    .moo{
        background-color: #0a2e4e;
        color: white!important;
        border-radius: 6px;
    }
    .left ul a:hover{
        text-decoration: none;
    }
    strong{
        margin: 0;
    }
    .right{
        height: 83vh;
        display: flex;
        flex-flow: column;
        padding: 0;
    }
    .right .head{
        overflow-y: scroll;
        padding: 15px;
        height: 100%;
    }
    .right .foot{
        height: 10%;
        display: flex;
        justify-content: space-between;
        padding: 15px;
    }
    .foot button{
        width: 110px;
        height: 30px;
        border-radius: 5px;
        border: none;
        background-color:sandybrown;
    }
    .foot button:focus{
        border: none;
    }
    .heading{
        background-color: #0A2E4E;
        /* background-color: #464D55; */
        padding: 15px;
        text-align: center;
        margin: 0 0 15px 0;
        border-radius: 5px;
        color: white;
        display: flex;
        justify-content: center;
    }
    .heading h1{
        margin: 0 30px 0 30px;
    }
    .head div{
        padding-top: 55px;
    }
    @media screen and (max-width: 768px) {
        
        .left ul li:hover{
            background-color: #C6CFD7;
            color: black;
        }
        .moo{
            background-color: #C6CFD7;
            color: black!important;
        }
        .heading{
            border-radius: 0px;
            margin: 30px 0 0 0;
        }
        main{
            height: auto;
        }
        .heading img{
            display: none;
        }
        .heading h1{
            margin: 0px 0px 0 0;
            font-size: 35px;
        }
        .left{
            height: auto;
            padding: 5px;
        }
        .right{
            height: 60vh;
            width: 100%;
            padding: 15px;
            overflow-x: hidden;
        }
        .right .head{
            padding: 0;
            overflow-x: hidden;
            position: relative;
            width: 100%;
            padding-right: 7px;
        }
        .right .head h3{
            font-size: 1.3rem;
        }
        .left ul{
            display: grid;
            justify-content: center;
    		grid-template-columns: repeat(auto-fit, minmax(100px, 135px));
        }
        .left ul a{
            max-width: 135px;
        }
        .left ul a li{
            word-break: break-word;
            padding: 5px;
        }
    }
    @media screen and (max-width: 500px) {
        .right{
            padding: 0 40px;
        }
        .heading{
            border-radius: 0px;
            margin: 0 0 0 0;
        }
    }
</style>
{% endblock stylesheets %}
<!-- CSS Ends here -->

{% block body %}
<!-- HTML Starts here -->
<!-- User Privacy policy -->


<main>
    <div class="container">
        <div class="row">
            <div class="heading col-md-12">
                <img src="{% static 'homeapp_css/tc.png' %}">
                <h1>Terms & Conditions</h1>
                <img src="{% static 'homeapp_css/tc.png' %}">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="left col-md-3">
                <ul>
                    <a href="#tc1"><li class="tc1 moo" onclick="fun('tc1');">Applicability</li></a>
                    <a href="#tc2"><li class="tc2" onclick="fun('tc2');">Introduction</li> </a>
                    <a href="#tc3"> <li class="tc3" onclick="fun('tc3');">Liability</li></a> 
                    <a href="#tc4"><li class="tc4" onclick="fun('tc4');">Eligibility</li></a> 
                    <a href="#tc5"> <li class="tc5" onclick="fun('tc5');">Intellectual Property</li></a>  
                    <a href="#tc6"><li class="tc6" onclick="fun('tc6');">Responsibility</li></a> 
                    <a href="#tc7"><li class="tc7" onclick="fun('tc7');">Security</li></a> 
                    <a href="#tc8"><li class="tc8" onclick="fun('tc8');">Fees and Payment</li></a>  
                    <a href="#tc9"><li class="tc9" onclick="fun('tc9');">Advertisement</li></a>
                    <a href="#tc10"><li class="tc10" onclick="fun('tc10');">Fradulents</li></a>
                    <a href="#tc11"><li class="tc11" onclick="fun('tc11');">Others</li></a>
                </ul>
            </div>
            <div class="right col-md-9">
                <div class="head">
                    <div id="tc1">
                        <h3 style="width: 100%;display: flex;"><p class="a">Applicability Of Terms and Conditions</p><p class="b"></p></h3>
                        <p>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Terms and Condition is applicable for any individual who enquires / requests about or buys any travelling package through TRAVMAKS official website, mobile application, Facebook page, Facebook Group, Instagram account, or any sales person, or any other sales channel.
                        </p>
                    </div>
                    <div id="tc2">
                        <h3>Introduction :</h3>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Website is intended to be used by bonafide User(s) for a legitimate use. User shall not distribute exchange, modify, sell or transmit anything from the Website, including but not limited to any text, images, audio and video, for any business, commercial or public purpose.  
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Access to certain features of the Website may only be available to registered User(s). The process of registration required the User to answer certain questions or provide certain information that may or may not be personal in nature. Some such fields may be mandatory or optional. User represents and warrants that all information supplied to TRAVMAKS is true and accurate. TRAVMAKS reserves the right, in its sole discretion, to terminate the access to the Website and the services offered on the same or any portion thereof at any time, without notice, for general maintenance or any other reason whatsoever. 
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TRAVMAKS reserves the right to periodically make improvements or changes in its Website at any time without any prior notice to the User. User(s) are requested to report any content on the Website which is deemed to be unlawful, objectionable, libelous, defamatory, obscene, harassing, invasive to privacy, abusive, fraudulent, against any religious beliefs, spam, or is violative of any applicable law to complain@travmaks.in On receiving such report, TRAVMAKS reserves the right to investigate and/or take such action as the Company may deem appropriate.
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The User Agreement grants a limited, non-exclusive, non-transferable right to use this Website as expressly permitted in this User Agreement. The User agrees not to interrupt or attempt to interrupt the operation of the Website in any manner whatsoever.
                        </p>
                    </div>
                    <div id="tc3">
                        <h3>Limited Liability Of TRAVMAKS :</h3>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TRAVMAKS only acts as a connector between Service provider (Travel agencies and Guides) and users. TRAVMAKS’s liability is limited to providing the user affirmed tour/travel booking as selected by the user.
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Any issue or concern faced by the user at the time of arrival or during the tour operation will be sole responsibility of the service provider. 
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; TRAVMAKS will not be responsible for the demonstrations, exclusions, mistakes, portrayals, guarantees, breaks or carelessness on part of any Service Provider, unless it is explicitly committed by TRAVMAKS .
                            <br>&nbsp;•	TRAVMAKS is not responsible for the standard of services as provided by the respective Service Providers.
                            <br>&nbsp;•	TRAVMAKS provides no guarantee with regard to their quality or fitness as represented by provider.
                            
                            <br>&nbsp;** TRAVMAKS is only an online platform which connects the travel lovers (users) with the travel agencies and individual guides all over the India, Through our application we connect the user with different service providers to make their travelling easy. TRAVMAKS is not a Travel agency itself. **
                        </p>
                    </div>
                    <div id="tc4">
                        <h3>Eligibility To Use:</h3>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The User must be atleast 18 years of age and must have the legitimate position to go into an agreement. so as become a User and use the services of TRAVMAKS. 
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;If you are a minor or are below the age of 18 years, you shall not register as a User of the Website and shall not transact on or use the Website.
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;As a minor if you wish to use or transact on the Website, such use or transaction shall only be made by a person of legal contracting age (legal guardian or parents). We reserve the right to terminate your membership and access to the Website if it is discovered that you are a minor or incompetent to contract according to the law or any information pertaining to your age entered at the time of creation of account is false. 
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Prior to utilizing the Website, moving toward any Sales Channels or buying the travel packages of TRAVMAKS, the Users will necessarily peruse and comprehend this User Agreement/Terms & Conditions and shall be deemed to have accepted this User Agreement as a binding document that governs User's dealings and transactions with TRAVMAKS. In the event that the User disagrees with any aspect of this Agreement, at that point the User must not buy any package and must not access or approach the Sales Channels of TRAVMAKS.
                        </p>
                    </div>
                    <div id="tc5">
                        <h3>Intellectual Property  </h3>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;All content provided through various Sales Channels, including but not limited to audio, images, software, text, icons and such similar content ("Content"), are registered by TRAVMAK and protected under applicable intellectual property laws. User cannot use this Content for any other purpose. TRAVMAKS does not grant the User a license, right or authority to use such proprietary logos, service marks, or trademarks in any manner. Any unauthorized use of the Content, will be in violation of the applicable law.
                            <br>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TRAVMAKS respects the intellectual property rights of others. If you notice any act of infringement on the Website, you are requested to send us a written notice/ intimation which must include the following information;
                                
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; •  	Clear identification of such copyrighted work that you claim has been infringed;
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; •	Location of the material on the Website, including but not limited to the link of the infringing material;
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; •	The proof that the alleged copyrighted work is owned by you;
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; •	Contact information;
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Any complain notices can be sent to MMT by email at complain@travmaks.in
                        </p>
                    </div>
                    <div id="tc6">
                        <h3>User Responsibility </h3>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Users are advised to check the description of the tour package carefully before making a booking. 
                            <br>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;If a User intends to make a booking on behalf of another person, it shall be the responsibility of the User to inform such person about the terms of this Agreement, including all rules and restrictions applicable thereto. 
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;User also authorizes TRAVMAKS's representative to contact such user over phone, message and email. This consent shall supersede any preferences set by such User through national customer preference register (NCPR) or any other similar preferences
                        </p>
                    </div>
                    <div id="tc7">
                        <h3>SECURITY AND ACCOUNT RELATED INFORMATION</h3>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;While registering on TRAVMAKS website user needs to enter some information which may or may not be personal in nature.
                            <br>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We try our best to make sure that user entered data are totally safe and secured at our end. But User must understands that any information that is provided to this Website may be read or intercepted by others due to any breach of security at the User's end.
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;User shall be solely responsible for maintaining the confidentiality of both the password and the account as well as for all activities on the account. It is the duty of the User to notify TRAVMAKS immediately in writing of any unauthorized use of their password or account or any other breach of security. TRAVMAKS will not be liable for any loss that may be incurred by the User as a result of unauthorized use of the password or account, either with or without the User's knowledge. The User shall not use anyone else's account at any time.
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We don’t store user’s bank account details, credit / debit card or net banking details except the transaction id, bank transaction ID, bank name generated at the time of payment.  
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TRAVMAKS will always make its best to ensure that the content on its websites or other sales channels are free of any virus or such other malwares. However, any data or information downloaded or otherwise obtained through the use of the Website or any other Sales Channel is done entirely at the User's own discretion and risk and they will be solely responsible for any damage to their computer systems or loss of data that may result from the download of such data or information.
                        </p>
                    </div>
                    <div id="tc8">
                        <h3>FEES AND PAYMENT </h3>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;In addition to the cost of booking as charged by the Service Providers, TRAVMAKS reserves the right to charge certain fees in the nature of convenience fees or service fees. 
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;In the rare circumstance of a booking not getting confirmed or cancelled at last moment for any reason whatsoever, TRAVMAKS will process the whole refund of the booking amount paid by the User and intimate the User about the same. TRAVMAKS is not under any obligation to provide an alternate booking in lieu of or to compensate or replace the unconfirmed booking. All subsequent bookings will be treated as new transactions. Any applicable refund will be processed as per the defined policies of the service provider and TRAVMAKS as the case may be.
                            <br>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The User shall be completely responsible for all charges, fees, duties, taxes, and assessments arising out of the use of the service, as per the applicable laws.
                            
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The User agrees and understands that all payments shall only be made to bank accounts of TRAVMAKS. TRAVMAKS or its representatives or employees shall never ask a customer to transfer money to any private account or to an account not held in the name of TRAVMAKS. The User agrees that if that user transfers any amount against any booking or transaction to any bank account that is not legitimately held by TRAVMAKS or to any personal account of any person, TRAVMAKS shall not be held liable for the same. User shall not hold any right to recover from TRAVMAKS any amount which is transferred by the User to any third party. In any case the booking gets cancelled as we don’t store user’s bank account information, our representative will call customer to take minimal details (Account Holder Name, Branch Name, IFSC Code )  to transfer money in the customer’s bank account directly.
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The User will not share his personal sensitive information like credit/debit card number, CVV, OTP, card expiry date, user IDs, passwords etc. with any person including the travel agents, employees or representatives of TRAVMAKS. The User shall immediately inform TRAVMAKS if such details are demanded by any of its agents' employees or representatives. TRAVMAKS shall not be liable for any loss that the User incurs for sharing the aforesaid details.
                            <br>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;For more details visit our  Payment Policy Page : Link – <strong style="color: blue;text-decoration: underline;"><a target="_blank" href="https://www.travmaks.in/user/payment-policy">https:www.travmaks.in/user/payment-policy</a></strong> 
                        </p>
                    </div>
                    <div id="tc9">
                        <h3>ADVERTISEMENT ON TRAVMAKS</h3>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Website may contain links to third party websites. TRAVMAKS does not control such websites and is not responsible for its contents. If a User accesses any third-party website, the same shall be done entirely at the User's risk and TRAVMAKS shall assume no liability for the same.
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TRAVMAKS is not responsible for any errors, omissions or representations on any of its pages, links or any linked website pages to the extent such information is updated or provided directly by the Service Providers or the advertisers.
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TRAVMAKS does not endorse any advertisers on its Website, or any linked sites in any manner. The Users are requested to verify the accuracy of all information provided on the third-party web pages.
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The linked sites are not under the control of TRAVMAKS and hence TRAVMAKS is not responsible for the contents of any linked site(s) or any further links on such site(s), or any changes or updates to such sites. TRAVMAKS is providing these links to the Users only as a convenience.
                        </p>
                    </div>
                    <div id="tc10">
                        <h3>FAKE CALL AND OTHER FRADULENTS</h3>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TRAVMAKS's employees or authorized representatives will never contact a User asking for his/ her credit or debit card number, expiry date, CVV, net banking login, passwords, OTP etc. nor will they ever request for a fund transfer to a personal or an individual bank account. Further, they will also not ask a User to install any third-party applications that enable them to view a User's mobile or computer screen.

                            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Acting on any of these requests may make you a victim of fraud, and may potentially lead to loss of your valuable money or information.
                            
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; If you are ever asked for any of the aforesaid information, please report it immediately on <strong style="color: blue;text-decoration: underline;"><a target="_blank" href="http://www.complain@travmaks.in">complain@travmaks.in</a></strong>.
                        </p>
                    </div>
                    <div id="tc11">
                        <h3>**  Disclaimer : **</h3>
                        <p style="font-weight: 700;">Terms and Condition may changes on time to time without any prior notice to the user / service provider, it is user’s responsibility to go through the Terms and Condition Page each time before using the website. 
            
                        </p>
                    </div>
                </div>
                <!-- <div class="foot">
                    <div><input type="checkbox">&nbsp; Send a Copy to My Email</div>
                    <div><button>I Accept</button></div>
                </div> -->
            </div>
        </div>
    </div>
</main>
<!-- HTML Ends here -->
<!-- JS Starts here -->
<script src="https://code.jquery.com/jquery-3.5.1.js" 
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" 
    crossorigin="anonymous">
</script>
<script>
    
    function fun(x){
        document.body.scrollTop=0;
        document.documentElement.scrollTop=0;
        var y=document.getElementsByClassName(x);
        $('.moo').removeClass('moo');
        $(y).addClass('moo');
    }
    $('.head').scroll(function() {
        var st1=$('.head').scrollTop();
        var a1=$('#tc1').outerHeight();
        var a2=$('#tc2').outerHeight();
        var a3=$('#tc3').outerHeight();
        var a4=$('#tc4').outerHeight();
        var a5=$('#tc5').outerHeight();
        var a6=$('#tc6').outerHeight();
        var a7=$('#tc7').outerHeight();
        var a8=$('#tc8').outerHeight();
        var a9=$('#tc9').outerHeight();
        var a10=$('#tc10').outerHeight();
        // console.log(st2);
        if(st1<a1){
            $('.moo').removeClass('moo');
            $('.tc1').addClass('moo');
        }
        if(st1>a1){
            $('.moo').removeClass('moo');
            $('.tc2').addClass('moo');
        }
        if(st1>a1+a2){
            $('.moo').removeClass('moo');
            $('.tc3').addClass('moo');
        }
        if(st1>a1+a2+a3+10){
            $('.moo').removeClass('moo');
            $('.tc4').addClass('moo');
        }
        if(st1>a1+a2+a3+a4+30){
            $('.moo').removeClass('moo');
            $('.tc5').addClass('moo');
        }
        if(st1>a1+a2+a3+a4+a5+90){
            $('.moo').removeClass('moo');
            $('.tc6').addClass('moo');
        }
        if(st1>a1+a2+a3+a4+a5+a6+100){
            $('.moo').removeClass('moo');
            $('.tc7').addClass('moo');
        }
        if(st1>a1+a2+a3+a4+a5+a6+a7+115){
            $('.moo').removeClass('moo');
            $('.tc8').addClass('moo');
        }
        if(st1>a1+a2+a3+a4+a5+a6+a7+a8+120){
            $('.moo').removeClass('moo');
            $('.tc9').addClass('moo');
        }
        if(st1>a1+a2+a3+a4+a5+a6+a7+a8+a9+120){
            $('.moo').removeClass('moo');
            $('.tc10').addClass('moo');
        }
        if(st1>a1+a2+a3+a4+a5+a6+a7+a8+a9+121){
            $('.moo').removeClass('moo');
            $('.tc11').addClass('moo');
        }
    })
    
</script>
<!-- JS Ends here -->
{% endblock body %}